^contentpage {
    background-color: darkblue;
    padding: 15;
}

stacklayout {
    padding: 15;
    border-radius: 5;
    margin-top: 20
}

^label {
    text-align: center;
    font-style: bold;
    font-size: 70;
    color: navajowhite;
}

^Button {
    color: azure;
    background-color: deeppink;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30;
    cursor: pointer;
}


^Entry {
    font-size: 30;
    background-color: white;
    margin: 10 0;
    color: #0A100D;
}

body {
}
